<h1 class="text-center">Listing all articles of "<%= @category.name %>" category</h1>

<div class="text-center">
  <% if logged_in? && current_user.admin? %>
    <div class="row">
      <span class="badge">
        <%= link_to "Edit category name", edit_category_path(@category) %>
      </span>
    </div>
  <% end %>

  <%= will_paginate @category_articles %>
</div>

<% @category_articles.each do |article| %>
  <%= render 'articles/article', article: article %>
<% end %>

<div class="text-center">
  <%= will_paginate @category_articles %>
</div>
